body{
    display:grid;
    grid-template-rows:6vh 45vh 45vh;
    border:1px solid black;
    border-radius: 3px;
    width:99vw;
    height:95vh;
    overflow:auto;
}
.cargoTable{
    table-layout:fixed;
    width:100%;
}
td{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 30vh;
}
.main{
    overflow: scroll;
}
td{
    border:1px solid black;
}
.clicked{
    background-color: #c0c5e9;
}
th{
    border: 1px solid white;
    word-break:normal;
    background:rgb(23, 23, 23);
    position:sticky;
    top:0;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight:bold;
    text-size-adjust: 100%;
    color:white;
}